/* Global settings */
body {
    font-family: 'Barlow', sans-serif;
    background-color: #dbdad0;
}

.container {
    padding: 16px;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

a {
    color: #ffffff;
}#loginModal {
    background-color: white;
    /* Changed from rgba(0, 0, 0, 0.5) to white */
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

#registerModal {
    background-color: white;
    /* Changed from rgba(0, 0, 0, 0.5) to white */
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
}
